---
layout: default
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <img class="img-home" src="{{site.baseurl}}/assets/img/blog-image.png" alt="Monero Ecosystem logo">
    <div class="introduction">
     <p>The Monero Ecosystem is a collection of projects maintained by members of the Monero Community.<br>
     Our goal is to have active and high quality Monero projects in one single ecosystem, easy to browse and find.</p> 
     <p>We have libraries, guides, designs, workgroups and much more. See the complete list below.</p>
     <h2 class="boxed-link"><a style="text-decoration: none; color: #f2541b" href="/join-us/index.html">Learn more about the Ecosystem and add your project!</a></h2></div>
    <div id="grid" class="row flex-grid">
    {% for post in site.posts %}
        <article class="box-item post-{{post.main-class}}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
            <span class="ribbon">
                <a href="{{site.url}}{{site.baseurl}}/category/{{post.main-class}}"><span>{{post.main-class}}</span></a>
            </span>
            <div class="box-body">
                <meta itemprop="datePublished" content="{{post.date | date_to_xmlschema }}">
                <time itemprop="datePublished" datetime="{{ post.date }}" class="date">{{ post.date | date_to_string }}</time>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    <h2 class="post-title" itemprop="name">
                        {{ post.title }}
                    </h2>
                </a>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    <p class="description">{{ post.introduction }}</p>
                </a>
                <div class="tags">
                    {% for tag in post.tags %}
                        <a href="{{site.baseurl}}/tags/#{{tag | slugify }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </article>
    {% endfor %}
    <div class="text-center"><h4>Warning: All repositories in this project are maintained by community members and not by the Monero Core Team. Make your own researches before using any projects stored in these repositories.</h4></div>
    </div>
</main>
