<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" style="max-width:150px;" src="https://avatars2.githubusercontent.com/u/{{page.maintainer_uid}}?s=150&v=4" alt="{{page.maintainer}}">
        <p class="def">Repo maintainer</p>
        <h3 class="name">
            <a itemprop="name" href="https://github.com/{{page.maintainer}}">{{page.maintainer}}</a>
        </h3>
        <!-- <p class="desc">{{site.user_description}}</p> -->
        <p><a itemprop="github" class="github" href="https://github.com/monero-ecosystem/{{page.repo_name}}">Github.com/{{page.repo_name}}</a></p>
    </div>
</section>
