<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post">
            
            <article role="article" id="post" class="post-content" itemprop="articleBody">
                {% if page.image %}
                <img src={{page.image}} alt="{{page.title}}" style="max-height: 600px; max-width: 600px;">
                {% endif %}
                {{ content }}
                <p>For more info, please check the original <a href="https://github.com/monero-ecosystem/{{page.repo_name}}">repository page</a></p>
            </article>

            {% include share.html %}
            {% include author.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
